In [ ]:
878513+5656566*56245654/656-2345624

484994347011.20123

In [ ]:
input()

465445546

'465445546'

In [ ]:
input("Please enter your name")

Please enter your nameAditya

'Aditya'

fun with inputand print functions

In [ ]:
usr1=input("Please type your name")
print("Name entered by you is ",usr)
print(type(usr1))

Please type your name58528
Name entered by you is  Aditya
<class 'str'>

In [ ]:
usr2=float(input("Please enter your n age"))
print(type(usr2))
print(type(int(usr2)))
print(usr2)

Please enter your n age18
<class 'float'>
<class 'int'>
18.0

In [ ]:
print(type(usr2))

<class 'str'>

In [ ]:
usr3=int(usr2)
print(type(usr3))

<class 'int'>

In [ ]:
usr4=("My name is Aditya")
usr5=("My age is 18")
print(usr4,usr5)
print(usr4+usr5)
print(usr4*8)
print(usr4,usr5,usr3,usr2,sep="#",end="$")
print("Hello world")

My name is Aditya My age is 18
My name is AdityaMy age is 18
My name is AdityaMy name is AdityaMy name is AdityaMy name is AdityaMy name is AdityaMy name is AdityaMy name is AdityaMy name is Aditya
My name is Aditya#My age is 18#18#18.0$Hello world

In [ ]:
"""it is 
multi line comment """
print(usr1)

58528

In [ ]:
usr6=20.0
print(type(usr6))
usr6=20.1
usr7=int(usr6)
print(usr7)

<class 'float'>
20

Hey list srtarts here

In [ ]:
Lst_vare=["Adit","hadjkafhwk"]
print(Lst_vare)

['Adit', 'hadjkafhwk']

In [ ]:
Lst_var2=["Aditya","Matha"]
print(Lst_var2)

['Aditya', 'Matha']

In [ ]:
lst_var=[]
print(type(lst_var))
print(lst_var)

<class 'list'>
[]

nested list

In [ ]:
list_var=["a","b",12,[1,2,3]]
print(list_var)

['a', 'b', 12, [1, 2, 3]]

tuple

In [ ]:
tup_var=('a','b',1,3,)

print(tup_var)
print(type(tup_var))

('a', 'b', [1, 2, 4343234])
('a', 'b', 1, 3)
<class 'tuple'>

list in a tuple

In [ ]:
tup_var2=('a','b',[1,2,4343234,])
print(tup_var2)

('a', 'b', [1, 2, 4343234])

tuple in a list

In [ ]:
list_var32=['ddsafvefaf',233,2,32,(1,32,4,4)]
print(list_var32)

['ddsafvefaf', 233, 2, 32, (1, 32, 4, 4)]

In [ ]:
exp=tuple(list_var32)
print1=list(tup_var2)
print(type(exp))
print(type(print1))

<class 'tuple'>
<class 'list'>

Dictionary starts here

In [ ]:
dict_type={"Hello":1,"Key2":22,1223:232332}
print(dict_type)
print(type(dict_type))

{'Hello': 1, 'Key2': 22, 1223: 232332}
<class 'dict'>

SETS

In [ ]:
sets={12,1,1,1,12,3,44,3,2,2,3,45,43,2}
print(sets)
print(type(sets))
print(sets)

{1, 2, 3, 43, 12, 44, 45}
<class 'set'>
{1, 2, 3, 43, 12, 44, 45}

activity

In [ ]:
exe_list=[2,42,36,47,2,5,2,1,47,36,8,8,42,7,8,9,2,5,7]
exe_chang=set(exe_list)
exe_change2=list(exe_chang)
print(exe_change2)

[1, 2, 36, 5, 7, 8, 9, 42, 47]

better way for activity

In [ ]:
exe_list=[2,42,36,47,2,5,2,1,47,36,8,8,42,7,8,9,2,5,7]
exe_chang=list(set(exe_list))
print(exe_chang)

[1, 2, 36, 5, 7, 8, 9, 42, 47]

Questions to solve 
1 number of elements in the list
2 greatest number in list 
3 smallest number in list
4 sum of all elements in the list 
product of all elements in the list 
**Starting of LOOP**

In [ ]:
lst_type=[1,2,3,45,67,42,100,129,45,78,92,65,8,23,12,90,150,177]
print("number of elements in the list:",len(lst_type))
print("greatest number in list",max(lst_type))
print("smallest number in list",min(lst_type))
print("sum of all elements in the list",sum(lst_type))
var=1
for element in lst_type:
    var=var*element
print("The product is :",var)
for ele in lst_type:
    aside=1
    aside=ele**3
    print("Cube of the ek=lement in list are :" ,aside)

number of elements in the list: 18
greatest number in list 177
smallest number in list 1
sum of all elements in the list 1129
The product is : 1085405385049619961600000000
Cube of the ek=lement in list are : 1
Cube of the ek=lement in list are : 8
Cube of the ek=lement in list are : 27
Cube of the ek=lement in list are : 91125
Cube of the ek=lement in list are : 300763
Cube of the ek=lement in list are : 74088
Cube of the ek=lement in list are : 1000000
Cube of the ek=lement in list are : 2146689
Cube of the ek=lement in list are : 91125
Cube of the ek=lement in list are : 474552
Cube of the ek=lement in list are : 778688
Cube of the ek=lement in list are : 274625
Cube of the ek=lement in list are : 512
Cube of the ek=lement in list are : 12167
Cube of the ek=lement in list are : 1728
Cube of the ek=lement in list are : 729000
Cube of the ek=lement in list are : 3375000
Cube of the ek=lement in list are : 5545233

for loop

In [ ]:
for element_of_a_list in lst_type:
  print(element_of_a_list)
print(element_of_a_list)

1
2
3
45
67
42
100
129
45
78
92
65
8
23
12
90
150
177

while loop

In [ ]:
a=1
while a<100:
  a=a+1
print("loop completed")
print(a)

loop completed
100

Assignmment operator

In [ ]:
a=24
a*=3
print(a)
a-=2
print(a)
a+=3
print(a)
a/=2
print(a)

72
70
73
36.5

Logical operators  AND

In [ ]:
person_a=19
person_b=19
var_check=(person_a>18)and(person_b>18)
print(var_check)
person_a=14
person_b=20
var_check=(person_a>18)and(person_b>18)
print(var_check)
person_a=14
person_b=2
var_check=(person_a>18)and(person_b>18)
print(var_check)

True

OR

In [ ]:
person_a=14
person_b=20
var_check=(person_a>18)or(person_b>18)
print(var_check)
person_a=14
person_b=2
var_check=(person_a>18)and(person_b>18)
print(var_check)

True
False

In [ ]:
print("dfhjkwhfgwhf")

dfhjkwhfgwhf

date 9/9/2022

rivision

In [ ]:
aditya="myu name is aditya"
print(id(aditya))

140471889830016

In [ ]:
print("hello)")

hello)

In [ ]:
hello=input("type hello")
ip=(input())
print(ip)
print(type(ip))

type hello,bfhgerhje
m
m
<class 'str'>

In [ ]:
print("hello",";hgjdshfrejygjrgre",sep="$",end="\t")
print("hello world")

hello$;hgjdshfrejygjrgre	hello world

practice prog

In [ ]:
name=input("please enter your name")
age=float(input("please eneter your age"))
print(name,age)
print(name,age,sep="##")
print(name,age,sep="##",end="$$")
print("we are done ")

please enter your nameAditya
please eneter your age18
Aditya 18.0
Aditya##18.0
Aditya##18.0$$we are done

In [ ]:
lst=[342,4,54,67,4785,7,3125]
tupe=(1,2,34,4,6,7,9)
setrt={"a",1,3,4,3,4,5,32,5,6,43,2,3,5,6,67,6,}
print(type(lst))
print(type(tupe))
print(setrt)
print(type(setrt))

<class 'list'>
<class 'tuple'>
{32, 1, 2, 3, 4, 5, 6, 67, 'a', 43}
<class 'set'>

In [ ]:
h=input("hello worl")
wete={2,3,54,6,7,34,6,7,4,h}
print(wete)

hello worlgelle
{2, 3, 34, 4, 6, 7, 54, 'gelle'}

In [ ]:
dictp={"a":22,"b":333}
print(dictp["a"])

22

In [ ]:
tutu=(2,3,4,5,4,5,3,5,3,54,32,54,23,4,2,4)
print(tutu)
tutu=set(tutu)
print(tutu)
tutu=tuple(tutu)
print(tutu)

(2, 3, 4, 5, 4, 5, 3, 5, 3, 54, 32, 54, 23, 4, 2, 4)
{32, 2, 3, 4, 5, 54, 23}
(32, 2, 3, 4, 5, 54, 23)

In [ ]:
a=5%4
print(a)
a=8/4
print(type(a))
print(a)
a=25%4
print(a)
print(type(a))
a=(2528//85)
print(a)
print(type(a))
a=6
a+=1
print(a)
a*=2
a/=2
print(a)

1
<class 'float'>
2.0
1
<class 'int'>
29
<class 'int'>
7
7.0

in division answer is always in a float form output

In [ ]:
r=17
s=19
print(r>=18)
print(s>=18)
print(r>=18 and s>=18)
print(r>=18 or s>=18)
print(not(r<=18 and s>=18))

False
True
False
True
False

In [ ]:
pokilist=[12,13,14,"Jiglipuff","1","2"]
for poke in pokilist:
  #print(poke)
  if poke=="Jiglipuff":
    print("found Jioglipuff")
  else:
    continue

found Jioglipuff

In [ ]:
v1="pikachu"
v2="raichu"
v0="pichu"
for v in v1:
  print(v)
print(v1[-1:-7:-2])
print(v1[:3])
print(v1[-1:-4:-1])
print(v1[-3:])
print(v1[::-1])

p
i
k
a
c
h
u
uck
pik
uhc
chu
uhcakip

reverse function for reversing a DATA TYPE

In [ ]:
l=["Bulbasour_21","coocoo_54","SSquitle_42","Charmender_33","grounden_69"]
#l.reverse()
for poke in l:
    print(poke[-4::-1])

ruosabluB
oocooc
eltiuqSS
rednemrahC
nednuorg

In [ ]:
for poke in l[::2]:
    print(poke[:-3])

Bulbasour
SSquitle
grounden

functuions of list

In [53]:
l=[]
print(l)
l=["Bulbasour_21","coocoo_54","SSquitle_42","Charmender_33","grounden_69","Gangar_5545646"]
for poke in l:
  print(poke[:poke.index("_")])
  print(poke.find("_"))

[]
Bulbasour
9
coocoo
6
SSquitle
8
Charmender
10
grounden
8
Gangar
6

In [55]:
for poke in l:
  if poke.startswith("g") or poke.startswith("G"):
    print(poke[:poke.find("_")])
  else:
    continue

grounden
Gangar

In [57]:
lst2=[]
for i in l[::2]:
  lst2.append(i)

['Bulbasour_21', 'SSquitle_42', 'grounden_69']